.play {
    background-image: url('../images/play.png');
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    padding: 0;
    border: 0;
    background-color: transparent;
    margin: 0;
    cursor: pointer;
}

.flex {
    display: flex;
    border: solid #000 2px;
    width: 300px;
    height: 100px;
    .flex-item {
        flex: 1;
        background-color: #1296db;
        border: solid #fff 1px;
    }
}